<div class="home__container">
    
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="Digital | PS3 PS4 XBOX"
        gamePrice="R$199.90"
    ></app-card>

    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="Digital | PS3 PS4 XBOX"
        gamePrice="R$129.90"
    ></app-card>

    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="DIGITAL"
        gameType="Digital | PS3 PS4 XBOX"
        gamePrice="R$109.90"
    ></app-card>

</div>



